h1,h2 {
  text-transform: uppercase;
}

.header,h2 {
  width: 100%;
}

.column-container,.page-container {
  display: flex;
  box-sizing: border-box;
}

.column-container,.content-container,.header,.info-content,.info-icons,.page-container {
  box-sizing: border-box;
}

html * {
  font-family: 'PT Sans',sans-serif;
}

body {
  padding: 0 5%;
  margin: 0 auto;
  font-weight:300;
}

h2 {
  font-size: 18px;
  height: 30px;
  font-weight: 700;
}

ol {
  border-color: #2bc435;
  border-width: 1px 0 1px 0;
}
ol li + li:before {
  background-color: #2bc435;
}

a:hover {
  color: #2bc435;
  border-bottom: 1px dashed #2bc435;
}

#development-experience {
  border-top-color: #2bc435;
}
#professional-experience {
  border-top-color: #2bc435;
}
#education {
  border-top-color: #2bc435;
}
#technical-skills {
  border-top-color: #2bc435;
}

#wrapper-1 {
  width: 60%;
  float: left;
}
#wrapper-2 {
  width: 35%;
  float: right;
}

#kanoa-cleveland {
  text-align: center;
  font-size: 24px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  font-weight: 700;
}

#self-info {
  width: 100%;
  text-align: center;
}

#logo {
  height: 100px;
  margin: 25px auto;
  display: block;
  filter: invert(25%);
}